{% extends 'optical_parameter/layout.html' %}
{% block content %}
    <h1>Design Your Optical Film<h1>
    <p class = "lead">Here you can design your own optical film. In order to do it, you will need to specify the material, thickness, and layer order of each single layer. Note that if you go back to the Home page, you will clean all your design except the first one as an example</p>
{#    <div class = "listbox-area">#}
{#        <ul role = "listbox">#}
{#            {% for mat in materials %}#}
{#                <li role = "option"><a href = "/optical_parameter/materials/{{ mat.pageid }}">{{ mat.book }}</a>></li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}

{#        <h1>Debug {{ material_names }}</h1>#}
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Layer Order</th>
              <th scope="col">Material</th>
              <th scope="col">Type</th>
              <th scope="col">Thickness</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
          {% for mat in Design %}
            <tr>
              <td>{{ mat.layer_sequence }}</td>
              <td>{{ mat.material}}</td>
              <td>{{ mat.type}}</td>
              <td>{{ mat.thickness}} nm</td>
              <th scope="col"><a href="/film/update/{{ mat.layer_sequence }}" >Modify</a></th>
              <th scope="col"><a href="film/delete/{{ mat.layer_sequence }}/" >Delete</a></th>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    <a class="lead" href = "/optical_parameter/film/">Add New Layer</a>
    <p class="lead">Maximum Wavelength Working Range (determined by the dataset) of your film is: {{ Working_range }} </p>
    <center>
    <div id="reflection_Trans_image" style="width:800px;height:500px;"></div>
    </center>
        <script>
            TESTER = document.getElementById('reflection_Trans_image');
            var trace1 = {
              x: {{  Wavelength  }},
              y: {{ Reflectance }},
              name: 'Reflection',
              mode:'lines+markers',
              type: 'scatter+Lines'
            };

            var trace2 = {
              x: {{ Wavelength }},
              y: {{ Transmitance }},
              name: 'Transmittance',
              yaxis: 'y2',
              mode:'lines+markers',
              type: 'scatter+Lines'
            };

            var data = [trace1, trace2];

            var layout = {
              title: 'Reflectance/Transmittance of your film',
              xaxis: {title: 'Wavelength(nm)', tickformat : ":04,2f"},
              yaxis: {title: 'Reflection'},
              yaxis2: {
                title: 'Transmittance',
                titlefont: {color: 'rgb(148, 103, 189)'},
                tickfont: {color: 'rgb(148, 103, 189)'},
                overlaying: 'y',
                side: 'right'
              }
            };
            Plotly.newPlot(TESTER, data, layout);
        </script>

{% endblock %}