{% extends 'optical_parameter/layout.html' %}
{% block content %}
    <h1>Optical Property of {{ Material.book }}<h1>
    <p class = "lead">Data acquired by: {{ Material_page }}</p>
    <center>
    <div id="refractive_image" style="width:800px;height:500px;"></div>
    </center>
    <div>
    <form method = 'GET' action='' id = 'Wavelength'>
      <font class="lead">Select Materials Type:</font>
      <input list="browsers" class = "lead" id="Wavelength" name="Wavelength">
      <font class="lead">in {{ Mat_min }} - {{ Mat_max }} nm</font>
      <input type="submit" class = "lead">
    </form>
    <p class="lead">Calculated n is: {{ Calculate_n }}, Calculated k is: {{ Calculate_k }}</p>
    </div>
        <script>
            TESTER = document.getElementById('refractive_image');
            var trace1 = {
              x: {{  Wave_re  }},
              y: {{ N_re }},
              name: 'Refractive Index',
              mode:'lines+markers',
              type: 'scatter+Lines'
            };

            var trace2 = {
              x: {{ Wave_ex }},
              y: {{ K_ex }},
              name: 'Extinction Coefficient',
              yaxis: 'y2',
              mode:'lines+markers',
              type: 'scatter+Lines'
            };

            var data = [trace1, trace2];

            var layout = {
              title: 'Refractive Information of {{ Material_book }}',
              xaxis: {title: 'Wavelength(nm)', tickformat : ":04,2f"},
              yaxis: {title: 'Refractive Index'},
              yaxis2: {
                title: 'Extinction Coefficient',
                titlefont: {color: 'rgb(148, 103, 189)'},
                tickfont: {color: 'rgb(148, 103, 189)'},
                overlaying: 'y',
                side: 'right'
              }
            };

            Plotly.newPlot(TESTER, data, layout);
        </script>
{% endblock %}
